<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SideWork</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <nav>
        <h1 class="logotext mono">~Ponyo~<pre>"CODE"</pre></h1>
    </nav>
    <div class="showcase">
        <img src="laptop2.jpg" alt="" class="mainimg">
        <div class="showcase-info">
            <h4 class="mono large-text white-text">CODE THE WORLD</h4>
            <p class="green-text mono2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur nostrum, maiores perspiciatis neque nulla corrupti ipsam nihil perferendis voluptas vero? Maiores suscipit pariatur qui vel laboriosam aperiam temporibus facere. Doloribus.</p>
        </div>
    </div>
    <div class="center-box special">
        <div class="ruby center-align">
            <img src="ruby.svg" alt="">
            <p class="white-text mono2">Ruby</p>
        </div>
        <div class="python center-align">
            <img src="python.svg" alt="">
            <p class="white-text mono2">Python3</p>
        </div>
        <div class="js center-align">
            <img src="javascript.svg" alt="">
            <p class="white-text mono2">Javascript</p>
        </div>
        <div class="go center-align">
            <img src="golang.svg" alt="">
            <p class="white-text mono2">Golang</p>
        </div>
        <div class="center-align">
            <img src="question.png" alt="">
            <p class="white-text mono2">
                <a href="/accounts">Accounts</a>
            </p>
        </div>
    </div>

<div class="glow"></div>
    <div class="card-wrapper">
        <div class="card">
            <h4 class="mono white-text">>BASH</h4>
            <pre>
            <code class="green-text" data-language="python">

import hashlib
def hash_file(filename): 
""""This function returns the SHA-1 hash 
of the file passed into it""" 

# make a hash object 
h = hashlib.sha1() 

# open file for reading in binary mode 
with open(filename,'rb') as file: 

    # loop till the end of the file 
    chunk = 0 
    while chunk != b'': 
        # read only 1024 bytes at a time 
        chunk = file.read(1024) 
        h.update(chunk) 
        
# return the hex representation of digest 
return h.hexdigest() 

message = hash_file("track1.mp3") 
print(message) 
            </code>
            </pre>
        </div>
        <div class="card">
            <h4 class="mono white-text">>CMD</h4>
            <p>
                <pre>
            <code class="green-text">
                
import hashlib
def hash_file(filename): 
""""This function returns the SHA-1 hash 
of the file passed into it""" 

# make a hash object 
h = hashlib.sha1() 

# open file for reading in binary mode 
with open(filename,'rb') as file: 

    # loop till the end of the file 
    chunk = 0 
    while chunk != b'': 
        # read only 1024 bytes at a time 
        chunk = file.read(1024) 
        h.update(chunk) 
        
# return the hex representation of digest 
return h.hexdigest() 

message = hash_file("track1.mp3") 
print(message) 
            </code>
            </pre>
            </p>
        </div>
        <div class="card">
            <h4 class="mono white-text">>GIT</h4>
            <p>
                <pre>
            <code class="green-text">
                
import hashlib
def hash_file(filename): 
""""This function returns the SHA-1 hash 
of the file passed into it""" 

# make a hash object 
h = hashlib.sha1() 

# open file for reading in binary mode 
with open(filename,'rb') as file: 

    # loop till the end of the file 
    chunk = 0 
    while chunk != b'': 
        # read only 1024 bytes at a time 
        chunk = file.read(1024) 
        h.update(chunk) 
        
# return the hex representation of digest 
return h.hexdigest() 

message = hash_file("track1.mp3") 
print(message) 
            </code>
            </pre>
            </p>
        </div>
    </div>
    <section class="people">
        <div class="post">
            <div class="header">
                <img src="question.png" alt="">
                <span>John Doe</span>
                <h4>I love Ruby on rails</h4>
                <div class="controls">
                    <div class="enter-box">
                        <img src="flag.png" alt="">
                        <img src="love.png" alt="">
                        <img src="comment.svg" alt="">
                    </div>
                </div>
                <br>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum sit modi, dolorem quas asperiores obcaecati quibusdam molestias sunt? Ipsam qui est laudantium id quis incidunt aut hic voluptas a obcaecati.
                    </p>
                    <small id='date'><script> document.getElementById("date").textContent = new Date() </script></small>
                </div>
            </div>
        </div>
        <div class="post">
            <div class="header">
                <img src="question.png" alt="">
                <span>John Doe</span>
                <h4>I love Ruby on rails</h4>
                <div class="controls">
                    <div class="enter-box">
                        <img src="flag.png" alt="">
                        <img src="love.png" alt="">
                        <img src="comment.svg" alt="">
                    </div>
                </div>
                <br>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum sit modi, dolorem quas asperiores obcaecati quibusdam molestias sunt? Ipsam qui est laudantium id quis incidunt aut hic voluptas a obcaecati.
                    </p>
                    <small id='date3'><script> document.getElementById("date3").textContent = new Date() </script></small>
                </div>
            </div>
        </div>
        <div class="post">
            <div class="header">
                <img src="question.png" alt="">
                <span>John Doe</span>
                <h4>I love Ruby on rails</h4>
                <div class="controls">
                    <div class="enter-box">
                        <img src="flag.png" alt="">
                        <img src="love.png" alt="">
                        <img src="comment.svg" alt="">
                    </div>
                </div>
                <br>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum sit modi, dolorem quas asperiores obcaecati quibusdam molestias sunt? Ipsam qui est laudantium id quis incidunt aut hic voluptas a obcaecati.
                    </p>
                    <small id='date2'><script> document.getElementById("date2").textContent = new Date() </script></small>
                </div>
            </div>
        </div>
    </section>
    <div class="glow"></div>
    <footer>
        <div class="card-wrapper">
            <div class="card">
                <p style="color:white">services</p>
                <ul>
                    <li><a href="#">Web hosting</a></li>
                    <li><a href="#">CODEPETE</a></li>
                    <li><a href="#">Half-link</a></li>
                    <li><a href="#">Hire</a></li>
                </ul>
            </div>
            <div class="card">
                <p style="color:white">services</p>
                <ul>
                    <li><a href="#">Web hosting</a></li>
                    <li><a href="#">CODEPETE</a></li>
                    <li><a href="#">Half-link</a></li>
                    <li><a href="#">Hire</a></li>
                </ul>
            </div>
            <div class="card">
                <p style="color:white">services</p>
                <ul>
                    <li><a href="#">Web hosting</a></li>
                    <li><a href="#">CODEPETE</a></li>
                    <li><a href="#">Half-link</a></li>
                    <li><a href="#">Hire</a></li>
                </ul>
            </div>
            <div class="card">
                <p style="color:white">services</p>
                <ul>
                    <li><a href="#">Web hosting</a></li>
                    <li><a href="#">CODEPETE</a></li>
                    <li><a href="#">Half-link</a></li>
                    <li><a href="#">Hire</a></li>
                </ul>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <p style="color:white">services</p>
                <ul>
                    <li><a href="#">Web hosting</a></li>
                    <li><a href="#">CODEPETE</a></li>
                    <li><a href="#">Half-link</a></li>
                    <li><a href="#">Hire</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>


<div id="data">
    <ul id="list">
        <li>
            <div class="card">
                <p class="white-text">${data.text}</p>
                <p class="white-text mono2">${data.time}</p>
            </div>
            <br>
        </li>
    </ul>
</div>
<div id="content"></div>

<style>
    #content{
        height: 400px;
        overflow: scroll;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<div class="card-wrapper">
    <div class="card">
        <form action="/api/" method="POST" id="postform">
            <input type="text" name="text" id="textdata" name="text">
        </form>
        <button id="send" onclick="push()">Send</button>
    </div>
</div>

<script>
    function push(){
        xhr = new XMLHttpRequest()
        xhr.open("POST","http://localhost:4545/api/", true)
        xhr.setRequestHeader("contet-Type","application/json;charset=UTF-8")
        xhr.onload = function(){
            if (this.status == 200){
                var response = JSON.parse(this.response).ops[0]
                li = document.createElement('li')
                card = document.createElement('div')
                card.classList.add('card')
                p = document.createElement('p')
                p.classList.add("white-text")
                p2 = document.createElement('p')
                p2.classList.add("white-text")
                p2.classList.add("mono2")
                p.innerHTML = response.text
                p2.innerHTML = response.time
                card.appendChild(p)
                card.appendChild(p2)
                li.appendChild(card)
                console.log(card)
                document.getElementById('content').appendChild(li)
            }else{
                console.log("fail")
            }
        }
        var data = {
            text:document.getElementById("textdata").value
        }
        console.log(JSON.stringify(data))
        xhr.send(JSON.stringify(data))
    }
</script>

<script type="module">
    import Engine from './main.js'
    var En = Engine['En']

    async function bufferedFetch(){
        var data = await axios.get('http://localhost:4545/api')
        var data  = En.run("data",data.data)
        document.getElementById('content').innerHTML = data
        document.getElementById('data').remove()
    }
    bufferedFetch()
    
</script>